<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WholeSale_Management_System.Properties.Settings.wholesale_MSConnectionString"
            connectionString="Data Source=HAIER-PC;Initial Catalog=wholesale_MS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WholeSale_Management_System.Properties.Settings.wholesale_MSConnectionString1"
            connectionString="Data Source=EHMAD-PC;Initial Catalog=wholesale_MS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>